@charset "UTF-8";
/* Media Query 1111*/
/* Variable Media Query */
@media (min-width: 0px) and (max-width: 768px) {
  body {
    background-color: rgb(217, 219, 213) !important;
  }
}
@media (min-width: 769px) {
  body {
    background-color: rgb(252, 237, 252) !important;
  }
}
/* Selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable fonts */
/*Grid general para mantener siempre el footer al pie de la pagina*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
}

/*Mixin Sizes*/
/*Animacion nav bar links*/
@keyframes efecto_link {
  from {
    color: white;
  }
  to {
    color: yellow;
  }
}
.container-fluid a {
  animation-name: efecto_link;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

/*Animacion nav bar image link inicio*/
@keyframes move-x {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(2px) translateY(2px);
  }
  100% {
    transform: translateX(-2px) translateY(-2px);
  }
}
.navbar-brand:hover {
  animation-name: move-x;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

.navbar {
  background-color: grey;
  border-bottom: 2px solid rgb(21, 3, 83);
}
.navbar .navbar-toggler {
  background-color: white !important;
}
.navbar .navbar-collapse {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
}
.navbar .navbar-nav {
  display: flex;
  justify-content: space-between; /* Espacia los elementos a lo largo del contenedor */
  flex-grow: 1; /* Permite que la lista ocupe el espacio disponible */
  max-width: 1200px; /* Puedes ajustar este valor según el tamaño de la navbar */
}
.navbar .nav-link {
  text-align: center; /* Centra el texto dentro de cada enlace */
}

/*Formato pie de pagina*/
.pie-container {
  padding: 5px;
  list-style-type: square;
  background-color: grey;
  /*Flex box*/
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 2px solid rgb(21, 3, 83);
  /*Pseudoclases pie de pagina*/
}
.pie-container .links_externos a {
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.pie-container .texto_footer {
  color: white;
}
.pie-container a:hover {
  color: blue;
}

/*Formato titulo Index final */
#titulo {
  font: "Noto Sans", sans-serif;
  color: rgb(36, 87, 134);
  background-image: linear-gradient(to top, rgba(235, 236, 213, 0.671), rgb(249, 250, 174));
  font-size: large;
  width: 100%;
  text-align: center;
}

/*Formato intro text Index*/
.intro1-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.intro1-container .intro1p {
  font: "Noto Sans", sans-serif;
  background-color: rgb(249, 250, 174);
  font-style: italic;
  font-weight: normal;
}

/*Formato intro images (grid) Index*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* Ajustes para dispositivos móviles */
}
.grid-container .grid-item {
  height: 400px; /* Altura fija para todas las imágenes */
  overflow: hidden; /* Ocultar cualquier contenido que sobresalga */
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen ocupe todo el espacio del contenedor y recorta el exceso */
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
  .grid-container .grid-item {
    height: auto; /* Deja que la altura sea automática en dispositivos móviles */
  }
}

/*Formato parrafo1 Index*/
.paragraph1 {
  font: "Noto Sans", sans-serif;
  text-align: center;
}

/*Formato Video Index*/
.video_intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.video_intro iframe {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 560px; /* Define un ancho máximo */
  height: auto; /* Ajusta la altura automáticamente */
  aspect-ratio: 16/9; /* Mantén la proporción 16:9 del video */
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
  .video_intro iframe {
    width: 100%;
    height: auto; /* Esto asegura que la altura se ajuste automáticamente */
  }
}
/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
  #titulo {
    font-size: medium;
  }
  .intro1-container {
    padding: 5px;
  }
  .paragraph1 {
    padding: 0 10px;
  }
  .video_intro iframe {
    height: auto; /* Ajusta la altura automáticamente en pantallas pequeñas */
  }
}
/*Formato text Tiempos y distancias*/
.paragraph1-tiempydist-container, .checklist-rec-clima-container, .paragraph1-rec-clima-container, .paragraph1-itinerario-container {
  margin: 10px;
  /*Flexbox*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.paragraph1-tiempydist-container .paragraph1-tiempydist, .checklist-rec-clima-container .paragraph1-tiempydist, .paragraph1-rec-clima-container .paragraph1-tiempydist, .paragraph1-itinerario-container .paragraph1-tiempydist {
  background-color: rgb(200, 253, 253);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  height: 80%;
}

/*Formato imagen Tiempos y distancias*/
.Imagen-tiempydist {
  margin-bottom: 20px;
  /*Flexbox*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.Imagen-tiempydist img {
  width: 75%;
  height: 80%;
}

/*Formato Contacto*/
.Intro-contacto-container, .formulario-contacto-container {
  margin: 5px;
  /*Flexbox*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.Intro-contacto-container .Intro-contacto, .formulario-contacto-container .Intro-contacto {
  background-color: rgb(200, 253, 253);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  height: 80%;
}

/*Formato Formulario Contacto*/
.formulario-contacto-container .formulario {
  background-color: rgb(200, 253, 253);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  height: 80%;
}
.formulario-contacto-container .button {
  background-color: white;
  transition: 0.3s;
}
.formulario-contacto-container .button:hover {
  background-color: yellow;
}

/*Formato Wap icon Contacto*/
.wap {
  position: fixed;
  right: 20px;
  bottom: 60px;
  transition: 0.5s;
}
.wap:hover {
  transform: rotate(720deg);
}

/*Formato Itinerario*/
.paragraph1-itinerario-container .paragraph1-itinerario {
  background-color: rgb(200, 253, 253);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  height: 80%;
}

/*Formato Rec y clima*/
/*Formato titulo Index */
#titulo-rec {
  font: "Noto Sans", sans-serif;
  color: rgb(36, 87, 134);
  width: 100%;
  text-align: center;
}

/*Formato parrafo armado mochila */
.paragraph1-rec-clima-container .paragraph1-rec-clima {
  background-color: rgb(200, 253, 253);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  height: 80%;
}
.paragraph1-rec-clima-container a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
.paragraph1-rec-clima-container a:hover {
  color: blue;
}

/*Formato checklist armado mochila */
.checklist-rec-clima-container .checklist-rec-clima {
  background-color: rgb(200, 253, 253);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  height: 80%;
}

/*# sourceMappingURL=style.css.map */
