/*Media Query*/
/*Variable Media Query*/
$background-color-small-devices: rgb(217, 219, 213) !important;
$background-color-large-devices: rgb(252, 237, 252) !important;

// Small devices (landscape phones, 576px and up) + tablets
@media (min-width: 0px) and (max-width: 768px) {
    body {
        background-color: $background-color-small-devices;
    }
}

// Large devices 
@media (min-width: 769px) {
    body {
        background-color: $background-color-large-devices;
    }
}

/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variable fonts*/
$main-font: 'Noto Sans', sans-serif;